@if (getGig) {
<li class="container container-space-between container-align-center">
  <div>
    <h4>{{ getGig.when }}</h4>
    <div>
      @for (band of getGig.who; track $index) {
      {{ band }}
      }
    </div>
    <div>
      <span>
        {{ getAddress }}
      </span>
    </div>
    <div>
      <span>
        {{ getClub }}
      </span>
    </div>
  </div>
  <div class="container container-column">
    <a [href]="getGig.link" mat-raised-button color="warn">LINK</a>
    @if (getGig.ticketsLink) {
    <a [href]="getGig.ticketsLink" mat-stroked-button color="warn">TICKETS</a>
    }
  </div>
</li>
<mat-divider></mat-divider>

}
