<li class="container nowrap container-align-center">
  <div class="container container-full container-space-between">
    <div class="container container-align-center">
      <app-data-badge
        [day]="getDay"
        [month]="getMonth"
      />
      <div class="container container-column padding">
        <div>
          @for (band of getGig.who; track $index) {
          <span class="band">
            {{ band | uppercase }}
          </span>
          }
        </div>
        <span class="address">
          {{ getAddress }}
        </span>
      </div>
    </div>
    <div class="container club container-align-center">
      <span class="club">
        <i-bs [name]="getLocationIcon"></i-bs>
        {{ getClub }}
      </span>
    </div>
  </div>
  <div class="container container-column buttons">
    <a
      [href]="getGig.link"
      mat-stroked-button
      color="accent"
    >LINK</a>
    @if (getGig.ticketsLink) {
    <a
      [href]="getGig.ticketsLink"
      mat-stroked-button
      color="accent"
    >TICKETS</a>
    }

  </div>
</li>
<mat-divider></mat-divider>