@import "../../../../styles/ffg-styles.scss";

a {
  text-decoration: none;
}

h3 {
  margin: 0;
  padding-bottom: 14px;
  font-size: xx-large;
}

li {
  &:hover {
    cursor: pointer;
    color: black;
    background-color: #e5b54e;
    transition: 0.4s all;
  }

  transition: 0.4s all;
  padding: 32px 0;
}

.band {
  &:not(:first-of-type):before {
    content: '\002B';
    font-family: fantasy;
  }
}

.container {
  font-family: monospace;
  gap: 6px;
}