@import "../../../styles/ffg-styles.scss";

.mat-button-toggle-group {
  @media only screen and (min-width: 820px) {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  position: relative;
  padding-top: 32px;
  box-shadow: none !important;

  mat-button-toggle {
    background-color: transparent;
    color: $hoverButtonText;

    &.mat-button-toggle-checked {
      font-weight: bold;
      color: $background;
      background-color: $hoverButtonText;
    }
  }
}
