.form-box {
  @media only screen and (max-width: 480px) {
    width: 100%;
    padding: 12px 16px;
  }
  width: 720px;
  padding: 40px 36px;

  h3 {
    padding-block: 12px;
    text-align: center;
  }
}
