<app-layout
  [isBackground]="true"
  [isFullsize]="true"
  [pageisReadyToDisplay]="true"
>
  <div class="box show container container-column">
    <div class="box-inform">
      <h3>{{ getTranslations['header'] | uppercase}}</h3>
      <p>
      {{ getTranslations['paragraph_1'] }}
      <br />
      {{ getTranslations['paragraph_2'] }}
      </p>
      <p class="email-info">
        {{getTranslations['email_info']}}
      </p>
      <p>
        {{getTranslations['social_media_contact']}} <em>officialfarfromgrace&#64;gmail.com</em>
      </p>
      <div class="container center">
        @for (icon of getLinks; track $index) {
        <a
          mat-fab
          extended
          color="primary"
          [href]="icon.href"
          target="_blank"
        >
          <i-bs [name]="icon.name"></i-bs>
          <span>
            {{ icon.label }}
          </span>
        </a>
        }
      </div>
    </div>
    <div class="box-form container container-center">
      <app-contact-from (sendEmailEmitter)="onSend($event)"  />
    </div>
  </div>
</app-layout>
