.sidebar-box {
  gap: 20px;
  padding: 0 20px;
  box-sizing: border-box;
  flex-wrap: nowrap;
}

.box {
  padding: 24px 16px;
  max-width: 992px;
}

.mobile {
  @media only screen and (max-width: 576px) {
    flex-direction: column;
  }
}