@if (isSidebar) {
<div
  class="container sidebar-box"
  [ngClass]="getClassOptions"
  [style.--gapValue]="getGap"
>
  <ng-content select="[Sidebar]"></ng-content>
  <div
    [ngClass]="getBackground"
    class="show box"
  >
    <ng-content select="[Content]"></ng-content>
  </div>
</div>
} @else {
<div class="container container-center">
  <div
    class="box show"
    [ngClass]="getClassOptions + ' ' + getBackground"
    [style.gap]="getGap"
  >
    <ng-content></ng-content>
  </div>
</div>
}