@import "../../styles/ffg-styles.scss";

form {
  padding: 32px;
  width: 100%;
  max-width: 600px;
  background-color: $background;
}

mat-form-field {
  width: 100%;

  mat-label {
    color: $background;
  }

}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #c1afa1;
}
