<form
  [formGroup]="getContactForm"
  (ngSubmit)="onSendEmail()"
  class="container glass-border"
>
  @for (control of getFormControls; track $index) { @if (control !== "message")
  {
  <mat-form-field>
    <mat-label>{{ control | uppercase }}</mat-label>
    <input
      matInput
      type="text"
      [formControlName]="control"
      [placeholder]="setPlaceholder(control)"
    />
    <mat-error></mat-error>
  </mat-form-field>
  } @else {
  <mat-form-field>
    <mat-label>{{ control | uppercase }}</mat-label>
    <textarea
      matInput
      [formControlName]="control"
      [placeholder]="setPlaceholder(control)"
      rows="20"
    ></textarea>
    <mat-error></mat-error>
  </mat-form-field>
  } }
  <button
    mat-raised-button
    [disabled]="isFormInvalid"
    color="warn"
    type="submit"
  >
    Send
  </button>
</form>