@import "../../styles/ffg-styles.scss";

form {
  width: 100%;
}

mat-form-field {
  font-size: 0.9rem;
  mat-label {
    color: $background;
  }

}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #c1afa1;
}

