<div class="mobile">
  <mat-accordion
    hideToggle
    id="accordion"
  >
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <div class="container container-full container-space-between container-align-center">
          <button
            role="button"
            aria-label="extend-panel"
            aria-labelledby="accordion"
            mat-icon-button
          >
            <mat-icon color="accent"> <i-bs [name]="getIcon"></i-bs> </mat-icon>
          </button>
        </div>
        <app-navbar-logo />
      </mat-expansion-panel-header>

      @for (link of getLinks; track link.label) {
      <a
        class="mobile-link"
        mat-button
        color="accent"
        [routerLink]="link.href"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{
          exact: true
        }"
      >{{ link.label }}</a>
      }
      <app-navbar-icons [isCentered]="true" />
    </mat-expansion-panel>
  </mat-accordion>
</div>