@import "../../styles/ffg-styles.scss";

div {
    background-color: $background;

    * {
        color: $dark-primary-text;
    }
}

.mdc-dialog__title {
  display: flex;
  align-items: start;
}

.content {
  padding: 12px;
}

.pt {
  padding-top: 12px;
}

.musician-details-avatar {
    width: auto;
    border-radius: 12px;
    height: 200px;
}

h4.role-header {
  margin-top: 4px;
}

.description {
  padding: 8px 14px;
  text-align: start;
}

.nowrap {
  @media only screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
  flex-wrap: nowrap;
}
