@import "../../styles/ffg-styles.scss";

div {
  background-color: $background;
  max-width: 80%;
  max-height: 50%;

  * {
    color: $dark-primary-text;
    font-family: 'Bitter', serif !important;
    font-family: 'Bitter', cursive !important;
  }
}

.mdc-dialog__title {
  display: flex;
  align-items: start;
}

.content {
  padding: 12px;
}

.pt {
  padding-top: 12px;
}

.musician-details-avatar {
  width: auto;
  border-radius: 12px;
  height: 200px;
}

h4.role-header {
  margin-top: 4px;
}

.description {
  padding: 8px 14px;
  text-align: start;
}

.nowrap {
  @media only screen and (max-width: 768px) {
    flex-wrap: wrap;
  }

  flex-wrap: nowrap;
}

.scrollable {
  overflow-y: scroll;
  max-height: 650px;
}