<div mat-dialog-title>
    <div class="container container-space-between">
        <div class="container container-align-center">
            <img
                class="musician-details-avatar"
                [srcset]="getData.imgAvatar"
                [alt]="getData.name + getData.surname"
            />
            <h2>
                {{getData.name}} {{ getData.nick }} {{ getData.surname }}
            </h2>
        </div>
        <button
            mat-flat-button
            color="warn"
            mat-dialog-close
        >
            X
        </button>
    </div>
</div>
<div mat-dialog-content>
    <h4>
        {{getData.role}}
    </h4>
    <div>
        @for (item of getData.description; track $index) {
        <p>{{item}}</p>
        }
    </div>
    <h4>Equipment</h4>
    <ul>
        @for (item of getData.equpiment; track $index) {
        <h5>
            {{item.header}}
        </h5>
        @for (eq of item.list; track $index) {
        <li>
            {{ eq }}
        </li>
        }
        }
    </ul>
</div>