@import "../../styles/ffg-styles.scss";

div {
    background-color: $background;

    * {
        color: $dark-primary-text;
    }
}

.musician-details-avatar {
    width: auto;
    border-radius: 12px;
    max-height: 200px;
    padding-right: 12px;
}