@import "../../styles/ffg-styles.scss";

.avatar {
    max-width: 250px;
    height: auto;
    border-radius: 12px;
    border: 1px solid red;

    &:hover {
        cursor: pointer;
    }
}

@keyframes ShowLeftAnimation {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes ShowRightAnimation {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.show {
    animation: ShowLeftAnimation 0.5s ease-out 0s 1 normal;
}