@import "../../styles/ffg-styles.scss";

.avatar {
    filter: brightness(40%);
    border-radius: 12px;
    transition: 0.3s all;

    &:hover {
        cursor: pointer;
        filter: brightness(100%);
    }
}