<mat-card
    [class]="setShowAnimation"
    class="gap"
>
    <mat-card-header>
        <mat-card-title>
            <p>{{GetName }} <span class="nick">"{{ GetNick }}"</span> {{ GetSurname }}
            </p>
        </mat-card-title>
        <mat-card-subtitle>
            <p>{{ GetRole }}</p>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <img
            mat-card-xl-image
            [align]="GetImgPosition"
            srcset="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Bob_Hardy_with_Franz_Ferdinand_at_Les_Escales_2019.jpg/800px-Bob_Hardy_with_Franz_Ferdinand_at_Les_Escales_2019.jpg"
            [alt]="GetNick"
        />
        <div>
            @for (paragraph of GetDescription; track $index) {
            <p>{{ paragraph }}</p>
            }
        </div>
    </mat-card-content>
</mat-card>