main {
  padding: 1rem 4px;
  img {
    z-index: -1;
    height: auto;
    margin: 5dvw auto 0 auto;
    max-width: 1200px;
  }
}

.first-spinner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: black;
}
