h2 {
    text-align: center;
}

@media only screen and (max-width: 780px) {
    .allMembersImg {
        max-width: 720px;
        min-width: 256px;
    }
}

@media only screen and (min-width: 781px) and (max-width: 1400px) {
    .allMembersImg {
        margin: 0 auto;
    }
}

p {
    text-align: justify;
    padding: 6px 14px;

    @media only screen and (max-width: 1200px) {
        padding: 0;
    }

}

.allMembersImg {
    position: relative;
    width: 720px;
    height: 481px;
}

.gap {
    gap: 1rem;
}

.pb {
    padding-top: 8px;

    @media only screen and (min-width: 1400px) {
        max-width: calc(100% - 750px);
    }
}

.container {
    @media only screen and (min-width: 1400px) {
        flex-wrap: nowrap;
    }
}

app-layout {
    width: 100%;

    @media only screen and (min-width: 1400px) {
        width: 80%;
    }
}