@defer (when getMusiciansData){
<app-layout [verticalContent]="true" [gap]="16">
  <div class="container gap">
    <img [srcset]="getFFGMembersPicture!" class="allMembersImg" />
    <div class="pb">
      @for (paragraph of getBio; track $index) {
      <p>
        {{ paragraph }}
      </p>
      }
    </div>
  </div>
  <div class="container container-column container-column-center">
    <h2 class="show">Far From Grace Squad</h2>
    <div class="container container-center">
      @for (musician of getMusiciansData; track $index) {
      <app-musician-card
        [SetName]="musician.name"
        [SetSurname]="musician.surname"
        [SetImageMain]="musician.imgMain"
        [SetDescription]="musician.description"
        [SetImgPosition]="musician.imgPosition"
        [SetNick]="musician.nick"
        [SetRole]="musician.role"
        [SetEquipment]="musician.equpiment"
        [SetImageAvatar]="musician.imgAvatar"
        (musicianDataEmitter)="showDialogWithData($event)"
      />
      }
    </div>
  </div>
</app-layout>
} @placeholder {
<app-spinner #spinner />
}
