h2 {
    text-align: center;
}

@media only screen and (max-width: 720px) {
    .allMembersImg {
        max-width: 720px;
        min-width: 256px;
    }
}
@media only screen and (max-width: 520px) {
  .allMembersImg {
      max-height: 317px;
    }
}

@media only screen and (min-width: 781px) and (max-width: 1400px) {
    .allMembersImg {
        margin: 0 auto;
    }
}

p {
    text-align: justify;

    @media only screen and (max-width: 1200px) {
        padding: 0;
    }

}

.allMembersImg {
    position: relative;
    max-width: 720px;
    width: 100%;
    height: 481px;
}

.gap {
    gap: 1rem;
}

.pb {
    padding-block: 48px;
    font-size: large;
    font-weight: 300;
}

.container {
    @media only screen and (min-width: 1400px) {
        flex-wrap: nowrap;
    }
}

