h2 {
    text-align: center;
}

@media only screen and (max-width: 780px) {
    .allMembersImg {
        width: 100%;
    }
}

@media only screen and (min-width: 781px) and (max-width: 1199px) {
    .allMembersImg {
        margin: 0 auto;
    }
}

p {
    margin: auto 0;
    text-align: justify;
    padding: 6px 14px;

    @media only screen and (max-width: 1200px) {
        padding: 0;
    }

}

.allMembersImg {
    max-width: 720px;
    height: auto;
    border-radius: 20px;
    align-self: center;
    box-shadow: 0px 2px 8px 2px black;
}

.gap {
    gap: 1rem;
}

.pb {
  padding-top: 8px;
}

.container {
    @media only screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    }

}
