@defer (when getMusiciansData){
<app-layout [justifyContentCenter]="true">
    @for (musician of getMusiciansData; track $index) {
    <app-musician-card
        [SetName]="musician.name"
        [SetSurname]="musician.surname"
        [SetImage]="musician.img"
        [SetDescription]="musician.description"
        [SetImgPosition]="musician.imgPosition"
        [SetNick]="musician.nick"
        [SetRole]="musician.role"
        (musicianDataEmitter)="showDialogWithData($event)"
    />
    }
   
</app-layout>
} @placeholder {
<app-spinner #spinner />
}
