.list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  box-sizing: border-box;
  width: 100%;
  list-style-type: none;
  padding: 16px 20px;
  margin: 0;

  &-item {
    transform: translateY(0px);
    transition: all 0.3s;

    &:hover {
      box-shadow: 1px 1px 20px 2px #ff7a7a;
      transform: translateY(-6px);
    }
  }
}