<>
    @defer {
    @for (item of getMerch; track $index) {
    <mat-card class="card-size">
        <mat-card-header>
            <mat-card-title>{{ item.name }}</mat-card-title>
            <mat-card-subtitle>{{ item.price }} zł</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            {{item.description}}
        </mat-card-content>
        <mat-card-actions>
            buy
        </mat-card-actions>
    </mat-card>
    }
    } @loading (minimum 2s) {
    <p>loading</p>
    }
</>