@import "../../styles/ffg-styles.scss";

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, $ffg-card-size);
  justify-content: center;
  align-content: flex-start;
  gap: 20px;
  box-sizing: border-box;
  list-style-type: none;
  padding: 0;

  &-item {
    transform: translateY(0px);
    transition: all 0.3s;

    &:hover {
      box-shadow: 1px 1px 20px 2px #ff7a7a;
      transform: translateY(-6px);
    }
  }
}