<aside class="sidebar glass glass-border">
  <form
    class="filter"
    [formGroup]="sidebarFormGetter"
    (ngSubmit)="onFilter()"
  >
    <div formGroupName="productTypes">
      <h4>Category</h4>
      @for (productRange of productsRangeGetter; track $index) {
      <div>
        <mat-checkbox
          labelPosition="after"
          color="primary"
          [formControlName]="productRange.controlName"
        >
          <mat-label class="filter-text">
            {{ productRange.label }}
          </mat-label>
        </mat-checkbox>
      </div>
      }
    </div>

    <h4>Price</h4>
    <mat-slider
      showTickMarks
      discrete
      [displayWith]="getDisplayWidth"
    >
      <input
        [value]="getMinVal"
        matSliderStartThumb
        formControlName="minPrice"
      />
      <input
        [value]="getMaxVal"
        formControlName="maxPrice"
        matSliderEndThumb
      />
    </mat-slider>
    <button
      type="submit"
      mat-fab
      extended
    >
      <mat-icon>filter_list</mat-icon>
      Filter
    </button>

  </form>
</aside>