<aside class="sidebar glass glass-border">
  <form class="filter" [formGroup]="sidebarFormGetter">
    <div>
      <h4>Category</h4>
      @for (productRange of productsRangeGetter; track $index) {
      <div>
        <mat-checkbox labelPosition="after" color="primary">
          <mat-label class="filter-text">
            {{ productRange }}
          </mat-label>
        </mat-checkbox>
      </div>
      }
    </div>

    <h4>Price</h4>
    <mat-slider showTickMarks discrete [displayWith]="getDisplayWidth">
      <input [value]="getMinVal" matSliderStartThumb />
      <input [value]="getMaxVal" matSliderEndThumb />
    </mat-slider>

    <button mat-fab extended>
      <mat-icon>filter_list</mat-icon>
      Filter
    </button>
  </form>
</aside>
