@import "../../styles/ffg-styles.scss";
@import "../../styles/ffg-styles.scss";

.sidebar {
    padding: 12px 20px;
    min-width: 250px;

    h3 {
        text-align: center;
        padding-block: 14px;
    }

    h4 {
      text-align: center;
    }

    .filter {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;

        &-text {
            color: $dark-primary-text;
        }
    }
}
