// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import "./app/styles/ffg-styles.scss";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$farfromgrace-site-primary: mat.define-palette($md-ffgpallete);
$farfromgrace-site-accent: mat.define-palette($md-ffgwarn, A400, A100, A700);
$farfromgrace-site-warn: mat.define-palette($md-ffgerror, A200, A100, A400);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$farfromgrace-site-theme: mat.define-light-theme((color: (primary: $farfromgrace-site-primary,
        accent: $farfromgrace-site-accent,
        warn: $farfromgrace-site-warn,
      ),

    ));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($farfromgrace-site-theme);

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Playfair Display";
  src: src("assets/font/PlayfairDisplay-VariableFont_wght.ttf");
  src: src("assets/font/PlayfairDisplay-Italic-VariableFont_wght.ttf");
}

html,
body {
  height: 100dvh;
  color: $dark-primary-text !important;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }
}

body {
  background-image: url("./assets/background/background-with-mischief-color.jpg");
  backdrop-filter: brightness(80%);
  background-color: black;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: center;
  background-size: contain;
  margin: 0;
  font-family: 'Playfair Display', serif !important;
  font-family: 'Salsa', cursive !important;
  font-weight: 400;
  font-size: 1.2rem;

}

.container {
  display: flex;
  flex-wrap: wrap;

  .content {
    text-align: justify;
    padding: 0 24px;
  }

  &-column {
    flex-direction: column;

    &-center {
      align-items: center;
    }
  }

  &-full {
    width: 100%;
  }

  &-center {
    justify-content: center;
  }

  &-align-center {
    align-items: center;
  }

  &-space-between {
    justify-content: space-between;
  }
}

.nowrap {
  flex-wrap: nowrap;
}

.glass {
  background-color: $glass-background;
  border-radius: 12px;

  &-border {
    border: 1px solid $dark-primary-text;
  }
}

.header-section {
  text-indent: 1rem;
  text-decoration: underline;

}

.mat-divider.mat-divider-horizontal {
  border-color: $dark-primary-text;
}