<div class="album">
  <h2 #albumTitle class="title">{{ getTitle }}</h2>
  <div class="container-img">
    @defer (prefetch on viewport(albumTitle) ) {
    <div>
      <img
        IsLoaded
        [ngSrc]="getImg"
        [alt]="getTitle"
        fill
        style="height: auto"
      />
    </div>
    } @placeholder {
    <app-content-loader />
    }
  </div>
  <div>
    @for (desc of getDescription; track $index) {
    <p>
      {{ desc }}
    </p>
    }
  </div>
  <div class="container container-center links">
    @for (link of getLinks; track $index) {
    <a mat-flat-button color="accent" [href]="link.href">{{ link.label }}</a>
    }
  </div>
</div>
