.album {
  max-width: 720px;
  width: 100%;
}

.title {
  text-align: center;
}

.container-img {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;

  img {
    max-width: 600px;
    width:100%;
    height: auto;
  }
}

  a:not(a:first-child) {
    margin-left: 28px;
  }
