<div class="album">
  <h2
    #albumTitle
    class="title"
  >{{ getTitle }}</h2>
  <div class="container-img">
    @defer (prefetch on viewport(albumTitle) ) {
    <img
      IsLoaded
      [src]="getImg"
      [alt]="getTitle"
    />
    } @placeholder {
    <p>loading...</p>
    }
  </div>
  <div class="test">
    @for (desc of getDescription; track $index) {
    <p>
      {{ desc }}
    </p>
    }
  </div>
  <div class="container container-center links">
    @for (link of getLinks; track $index) {
    <a
      mat-button
      color="primary"
      [href]="link.href"
    >{{ link.label }}</a>
    }
  </div>
</div>